:root {
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;
  --spacing-xl: 40px;
  --spacing-l: 24px;
  --spacing-ml: 16px;
  --spacing-m: 12px;
  --spacing-s: 8px;
  --spacing-xs: 4px;
}

html {
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--grey-900);
  min-height: 100vh;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.social-profile-card {
  background-color: var(--grey-800);
  text-align: center;
  padding: var(--spacing-l);
  border-radius: 0.857rem;
}

.profile-image {
  height: 88px;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.7rem;
  font-weight: var(--fw-semi-bold);
  margin-top: var(--spacing-l);
  margin-bottom: 1rem;
}

.location {
  font-size: 1rem;
  color: var(--green);
  font-weight: var(--fw-semi-bold);
  margin: 0;
}

.descriptive-quote {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  margin: var(--spacing-l) auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-ml);
}

.social-profile-link {
  background-color: var(--grey-700);
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
  width: 20rem;
  height: 3rem;
  border-radius: 0.57rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-profile-link:hover {
  background-color: var(--green);
  color: var(--grey-800);
  cursor: pointer;
}

.social-profile-card,
.social-profile-link {
  color: var(--white);
}

.credits,
.credits a {
  font-size: 0.75rem;
  text-align: center;
  color: var(--grey-800);
}

@media screen and (min-width: 768px) {
  .social-profile-card {
    padding: var(--spacing-xl);
  }

  .social-profile-link {
    width: 22rem;
  }
}
